.item-card { 
    text-align: left;
    padding: 10px 10px;
    margin: 5px 0px;
}

.item-card-checked {
    text-decoration: line-through;
    text-decoration-color: #5c7080;
    color: #5c7080;
}

.item-card-unchecked {
    
}

.item-switch {
    margin-bottom: 0px;    
}